---
import Layout from "../../components/layout.astro";
import { Image } from "astro:assets";
import { projects } from "../../components/projects";
import { Text } from "../../components/atoms/text/text";
import { Chip } from "../../components/atoms/chip/chip";
import { Section } from "../../components/layout/section/section";

// Dummy images - replace with actual images later
import competitorResearchImg from "../../assets/localization/competitor-research.png";
import typoImg from "../../assets/localization/typo.png";
import lineHeightImg from "../../assets/localization/line-height.png";
import lineHeightComparisonImg from "../../assets/localization/line-height-comparison.png";
import abTestOriginalImg from "../../assets/localization/ab-test-original.png";
import abTestVariantImg from "../../assets/localization/ab-test-variant.png";
import resultImg from "../../assets/localization/result.png";
import { Caption } from "../../components/atoms/caption/caption";

const project = projects.find((project) => project.id === "localization");
---

<style>
  .hero {
    position: relative;
    overflow: hidden;
    padding: var(--spacing-48) var(--spacing-72);
    background: var(--gradient-background);
  }

  .hero .container {
    padding: 0 var(--spacing-40);

    color: var(--color-white);

    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 24px;
  }

  .hero .chips {
    color: var(--color-black);
    display: flex;
    gap: 8px;
  }

  .section-container {
    background-color: var(--color-grayscale-900);
    padding: var(--spacing-48) var(--spacing-72);

    color: var(--color-white);

    display: flex;
    flex-direction: column;
    gap: var(--spacing-48);
  }

  .list {
    margin: 0;
    padding: 0px var(--spacing-20);
  }

  .image {
    max-width: 80%;
    width: auto;
    height: auto;
    margin-top: var(--spacing-48);

    align-self: center;
  }

  @media (width <= 768px) {
    .image {
      max-width: 100%;
    }

    .hero {
      padding: var(--spacing-48) var(--spacing-24);
    }

    .hero .container {
      padding: 0;
    }

    .section-container {
      padding: var(--spacing-48) var(--spacing-24);
    }
  }

  .image-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-16);

  }
</style>

<Layout>
  <main>
    <section class="hero">
      <div class="container">
        <Text mode="h1">{project.title}</Text>
        <div class="chips">
          {project.tags.map((tag) => <Chip mode={tag.mode}>{tag.name}</Chip>)}
        </div>
        <div style="text-align: center;">
          {project.description.map((desc) => <Text mode="h3">{desc}</Text>)}
        </div>
        <Image
          src={project.image}
          alt={project.title}
          layout="full-width"
          width={800}
        />
      </div>
    </section>
    <div class="section-container">
      <Section title="担当範囲" , subTitle="プロジェクトの概要">
        <Text mode="body">比較的ページビューの多いページを対象とした。</Text>
        <Text mode="body">使用ツール：Google Optimize A/B testing tool</Text>
      </Section>

      <Section
        title="なぜこのテストを行ったのか？"
        ,
        subTitle="仮説とA/Bテスト実施"
      >
        <Text mode="body"
          >当社のウェブサイトのデザインは欧文（ラテン文字）前提で作られている。日本の競合サイトをはじめ、いわゆる読み物系サイト（新聞やブログなど）をチェックしてみたところ、当社のものにくらべてほとんどのサイトで行間が広いことがわかった。行間が、ユーザーがサイト上で感じる快適さと関係があるかどうかを調べるため、私たちはこのA/Bテストを実施することにした。</Text
        >
        <br />
        <Text mode="body"
        >デフォルトよりも行間を広げることで、日本語のウェブページが読みやすくなると想定。その結果、デフォルト設定のページよりも直帰率が下がるという仮説を立てた。</Text
        >
        <div class="image-container"> 
          <Image
            class="image"
            src={competitorResearchImg}
            alt="Competitor analysis"
          />
          <Caption>日本語のウェブサイトで使用される行間(line-height)の調査結果</Caption>
        </div>
      </Section>

      <Section
        title="日本語とラテンアルファベットの空白の差"
        ,
        subTitle="なぜこのトピックが重要なのか"
      >
        <Text mode="body"
          >日本語の文字は小文字や句読点を除きすべて同じ高さである。その点、ラテンアルファベットでは各文字に多くの空白が含まれるため、テキスト本文にスペースがあるように見えるが、日本語の文字はすべて同じ高さであるため、テキスト本文は全体として窮屈に見える。</Text
        >
        <div class="image-container">
          <Image class="image" src={typoImg} alt="Analysis of website metrics" />
          <Caption>漢字・かな・ラテン文字の比較 - Typography Now @ 2020 Sidepoints publishing</Caption>
        </div>
        <div class="image-container">
          <Image class="image" src={lineHeightImg} alt="Line height" />
          <Caption>漢字・かな・ラテン文字の比較 - Typography Now @ 2020 Sidepoints publアルファベット、日本語の文章で生まれる空白の違いを示したもの (引用元: https://kilianmuster.com/japanese-the-typography/ 2025年3月14日閲覧)ishing</Caption>
        </div>
        <div class="image-container">
          <Image
            class="image"
            src={lineHeightComparisonImg}
            alt="Line height comparison"
          />
          <Caption>『センス・オブ・ワンダー（The Sense of Wonder）』針葉樹の葉は銀色のさやをまとい、シダ類はまるで熱帯ジャングルのように青々と茂り、そのとがった一枚一枚の葉先からは水晶のようなしずくをしたたらせます。</Caption>
        </div>

      </Section>

      <Section title="比較対象" , subTitle="A/Bテスト">
        <Text mode="body">比較内容：行間本文の位置</Text>
        <ul class="list">
          <li>
            <Text mode="body">Originalは1.5em</Text>
          </li>
          <li>
            <Text mode="body">Variant1は1.75em</Text>
          </li>
        </ul>
        <Text mode="body"
          >※本来は比較要素を1つに絞り対照実験をする所だが、今回は相乗効果を期待してリストのインデントの有無も同時にテストした。</Text
        >
        <Image
          class="image"
          src={abTestOriginalImg}
          alt="Original version with 1.5em line height"
        />
        <Image
          class="image"
          src={abTestVariantImg}
          alt="Variant version with 1.75em line height"
        />
      </Section>

      <Section title="結果と考察" , subTitle="結果">
        <Text mode="body"
          >テスト期間中、OriginalとVariantの直帰率に有意差は見られなかったため、仮説は棄却された。</Text
        >
        <Text mode="body"
          >しかし、差が見られなかったことから、行間を広げても直帰率は下がらないとも言える。このように、ウェブサイトを見やすく、親しみやすいものにしたいのであれば、行間を広げたり、インデントを入れたりしても、直帰率を下げることは無いと結論づけられる。</Text
        >
        <br />
        <Text mode="body"
          >line-heightについては、body部分でem2.0がデフォルトとなるように実装。</Text
        >
        <div class="image-container">
          <Image class="image" src={resultImg} alt="Result image" />
          <Caption>ウェブサイトの行間設定変更(1.5em→2.0em)による見た目の変化</Caption>
        </div>
      </Section>
    </div>
  </main>
</Layout>
