---
import Layout from "../../components/layout.astro";
import { Image } from "astro:assets";
import { projects } from "../../components/projects";
import { Text } from "../../components/atoms/text/text";
import { Chip } from "../../components/atoms/chip/chip";
import { Section } from "../../components/layout/section/section";
import proposalImg from "../../assets/selectra/proposal.png";
import targetImg from "../../assets/selectra/target.png";
import prototypeImg from "../../assets/selectra/prototype.png";
import tasksImg from "../../assets/selectra/tasks.png";
import feedbackImg from "../../assets/selectra/feedback.png";
import priorityImg from "../../assets/selectra/priority.png";
import beforeAfterImg from "../../assets/selectra/before-after.png";
import dataImg from "../../assets/selectra/data.png";
import themeImg from "../../assets/selectra/theme1.png";
import statisticsImg from "../../assets/selectra/statistics.png";
import processBrandingImg from "../../assets/selectra/process-branding.png";
import processUxImg from "../../assets/selectra/process-ux.png";

const project = projects.find((project) => project.id === "selectra");
---

<style>
    .hero {
        position: relative;
        overflow: hidden;
        padding: var(--spacing-48) var(--spacing-72);
        background: var(--gradient-background);
    }

    .hero .container {
        padding: 0 var(--spacing-40);

        color: var(--color-white);

        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 24px;
    }

    .hero .chips {
        color: var(--color-black);
        display: flex;
        gap: 8px
    }

    .section-wrapper {
        background-color: var(--color-grayscale-900);
        padding: var(--spacing-48) var(--spacing-72);
        
        color: var(--color-white);
    }

    .section-container {
        max-width: 760px;

        margin: auto;

        display: flex;
        flex-direction: column;
        gap: var(--spacing-48);
    }

    .list {
        margin: 0;
        padding: 0px var(--spacing-20);
    }

    .image {
        max-width: 80%;
        width: auto;
        height: auto;
        margin-top: var(--spacing-48);

        align-self: center;
    }

    @media (width <= 768px) {
        .image {
            max-width: 100%;
        }

        .hero {
            padding: var(--spacing-48) var(--spacing-24);
        }

        .hero .container {
            padding: 0;
        }

        .section-wrapper { 
            padding: var(--spacing-48) var(--spacing-24);
        }
    }
</style>

<Layout>
  <main>
    <section class="hero">
        <div class="container">
            <Text mode="h1">{project.title}</Text>
            <div class="chips">
                {project.tags.map(tag => <Chip mode={tag.mode}>{tag.name}</Chip>)}
            </div>
            <div style="text-align: center;">
            {project.description.map((desc) => (
                <Text mode="h3">{desc}</Text>
            ))}
            </div>
            <Image src={project.image} alt={project.title} layout='full-width' width={800} priority/>
        </div>
    </section>
    <div class="section-wrapper">
    <div class="section-container">
        <Section title="担当範囲と成果", subTitle="プロジェクトの概要">
            <Text mode="body">Role：SEO担当（UXデザイン、ブランディング）</Text>
            <Text mode="body">Service：通信サービス比較メディア（月間ユーザー数100万）</Text>
            <Text mode="body">Period：2024.04～2024.08</Text>
            <Text mode="body">Scope：SEO / UXデザイン改善 / リブランディング</Text>
            <Text mode="body">Tools：Figma / GA4 / Search Console</Text>
            <Text mode="body">Outcome：ページ上でのクリック数+400%、直帰率 -3.5%ポイント</Text>
        </Section>
        <Section title="ユーザーとサービスをつなぐ「案内板」としてのトップページ再設計", subTitle="問題定義">
            <Text mode="body">日本市場進出から約5年が経過し、サービスは初期フェーズからスケールフェーズへと移行。 事業の拡大に伴い、市場環境の変化に合わせて、提供価値やミッションも当初の形から変化してきている。</Text>
            <Text mode="body">サービスの変化</Text>
            <ul class="list">
                <li>
                    <Text mode="body">取り扱い商材の拡張</Text>
                    <Text mode="body">電気・ガスの切り替えを中心としたサービスから、インターネット回線、保険、VODなど生活全般を扱うサービスへ</Text>
                </li>
                <li>
                    <Text mode="body">市場における立ち位置の変化</Text>
                    <Text mode="body">電気料金比較サイト → 生活全般の情報を提供する生活情報サイト</Text>

                </li>
            </ul>
        </Section>
        <Section title="ブランディングとUI/UX改善の2軸", subTitle="プロジェクト方針">
            <Text mode="body">上記を踏まえ、以下の2軸で改革を行うプロジェクトを立ち上げた。</Text>
            <Text mode="body">① ブランディング軸</Text>
            <Text mode="body">ミッション・ビジョンの再定義</Text>
            <Text mode="body">スローガンおよびサイト名称の見直し</Text>
            <Text mode="body">② UI/UX軸</Text>
            <Text mode="body">レガシー化したサービストップページのUI/UXを再設計</Text>
        </Section>
        <Section title="UI/UXの課題", subTitle="プロセス">
            <Text mode="body">現状分析および競合分析を行った結果、サービストップページにおける最大の課題はトップページからの離脱率の高さであると判断した。トップページが「案内板として機能し、次のアクションにつながる状態」を作れなければ、 回遊率の低下はそのまま収益機会の損失につながる。そのため、トップページのUI/UX改善は事業成長に直結する重要なテーマであった。</Text>
            <Image class="image" src={proposalImg} alt="Proposal" />
        </Section>
        <Section title="動線が分かりづらく欲しい情報をゲットできていないのでは", subTitle="ユーザー行動に対する仮説">
            <Text mode="body">現状の仮説</Text>
            <ul class="list">
                <li>
                    <Text mode="body">オーガニック検索から記事ページに流入</Text>
                </li>
                <li>
                    <Text mode="body">他の情報を求めてトップページへ戻る</Text>
                </li>
                <li>
                    <Text mode="body">必要な情報や導線が分かりづらく、離脱</Text>
                </li>
            </ul>
            <Text mode="body">理想の状態</Text>
            <ul class="list">
                <li>
                    <Text mode="body">トップページに到達した直後に</Text>
                    <Text mode="body">「次に何ができるか」「どこに何があるか」が直感的に理解できる</Text>
                </li>
                <li>
                    <Text mode="body">ユーザーが迷わず、閲覧・探索といった次のアクションを起こせる状態</Text>
                </li>
            </ul>
            <Image class="image" src={targetImg} alt="Target" />
        </Section>
        <Section title="第三者の視点を取り入れる→より的を得た解に最短距離で近づく", subTitle="アプローチ">
            <Text mode="body">
                主観や社内バイアスを排除するため、
                Webサイトに直接の利害関係を持たない第三者の意見も取り入れながら課題を整理。
                現状分析をもとに、再現性のある改修案を作成し、
                プロジェクトマネージャーおよびエンジニアへ提案する方針とした。
            </Text>
        </Section>
        <Section title="問題定義～実装・テストまで担当", subTitle="プロセス">
            <ul class="list">
                <li>
                    <Text mode="body">現状分析・競合分析</Text>
                </li>
                <li>
                    <Text mode="body">問題点の洗い出しと要件定義</Text>
                </li>
                <li>
                    <Text mode="body">最初に社内で出た改善案をまとめて最初のプロトタイプ（試作品）をfigmaで作成</Text>
                </li>
                <li>
                    <Text mode="body">ユーザビリティテスト（インタビュー形式）実施</Text>
                </li>
                <li>
                    <Text mode="body">ユーザビリティテスト結果の分析と考察</Text>
                </li>
                <li>
                    <Text mode="body">考察を元に最初に作ったプロトタイプをブラッシュアップ</Text>
                </li>
                <li>
                    <Text mode="body">バージョン2のプロトタイプ作成</Text>
                </li>
                <li>
                    <Text mode="body">エンジニアに実装の依頼・細かいデザインの調整</Text>
                </li>
            </ul>
            <Image class="image" src={processBrandingImg} alt="Branding Process" />
            <Image class="image" src={processUxImg} alt="UX Process" />
        </Section>
        <Section title="初期改善案を反映したプロトタイプでユーザビリティテストを実施", subTitle="最初のプロトタイプ（試作品）をfigmaで作成">
            <Text mode="body">チーム内で出た初期改善案を反映したプロトタイプを使用してユーザビリティテストを実施。デスクトップユーザーが多いため、デスクトップビューでテストを実施。デスクトップビューでのレイアウトをもとに、同様のレイアウトをモバイルビューにも反映するというフローを想定。</Text>
            <Image class="image" src={prototypeImg} alt="Prototype" />
        </Section>

        <Section title="インタビュー形式で実施", subTitle="ユーザビリティテスト">
            <Text mode="body">被験者としてセレクトラを知らない私の知人5人を用意。オンラインまたは対面形式で、私（モデレーター）と対話しながら私が用意したタスクを実行してもらった。テスト内容は以下3グループに分かれる。<br />1/ サービス利用における前提知識についての質問に答えてもらう<br />2/ プロトタイプ上でタスクを実行してもらう<br />3/ 全体の印象を5段階で評価してもらう</Text>
            <br />
            <Text mode="body" bold>普段の行動に関する基本的な質問の一例：</Text>
            <ul>
                 <li>
                    <Text mode="body">自分でネット回線を契約したことがありますか？</Text>
                    <Text mode="body">はい→難しかったことは何ですか？</Text>
                </li>
            </ul>
            <br />
            <Text mode="body" bold>タスク：</Text>
            <ul>
                 <li>
                    <Text mode="body">Prompt 1: 引っ越しを機に、新居で契約する光回線をこのウェブサイトで探します。どうしますか？</Text>
                    <Text mode="body">できた→どうしてそこをクリックしましたか？</Text>
                    <Text mode="body">できない→何を探していましたか？</Text>
                    <Text mode="body">★Prompt 1 フォローアップ:</Text>
                    <Text mode="body">このタスクは簡単でしたか？難しかったですか？「こうだったらいいのにな」という点はありますか？</Text>
                </li>
            </ul>
            <br />
            <Text mode="body" bold>5段階評価部分</Text>
            <Text mode="body">参加者にはシステムの使いやすさの尺度を記入してもらった。"強く反対 "から "強く賛成 "までの5段階から1つを選択する形式。</Text>
            <ul>
                 <li>
                    <Text mode="body">このウェブサイトを使う前に、事前に色々と知識が必要だと思う。</Text>
                </li>
                 <li>
                    <Text mode="body">このページを使いこなせる自信がある。</Text>
                </li>
                 <li>
                    <Text mode="body">何をすればいいかすぐに分かる。</Text>
                    <Text mode="body">※タスクはなるべく現実的なものを選ぶことを心掛けた。一般的に日常生活で起こりそうな行動にする。</Text>
                </li>
                
                 <li>
                    <Text mode="body">タスクが不用意に手がかりを与えないようにすること。カテゴリのラベルや機能名には言及しない。テスト中のやりとりがヒントにならないようにする。</Text>
                </li>
                
                 <li>
                    <Text mode="body">タスクは感情的であってはならない。ユーザーの個人的な生活や人間関係を推測するようなことはしない。(両親や妻など、家族について言及しない。）</Text>
                </li>
                
                 <li>
                    <Text mode="body">参考：<a href="https://www.nngroup.com/articles/usability-testing-101/">https://www.nngroup.com/articles/usability-testing-101/</a></Text>
                </li>
            </ul>
            <Image class="image" src={tasksImg} alt="Tasks" />
        </Section>

        <Section title="得られたフィードバックをカテゴリ分け", subTitle="ユーザビリティテストの結果分析">
            <Text mode="body">1つ1つのフィードバックを、テーマ別に分類する（アフィニティダイヤグラム化）。主にネガティブフィードバックを抽出。そうすることで、それぞれのフィードバックが視覚情報・ナビゲーション・ブランディングなど何を改善すれば解決できそうなフィードバックかのパターンが浮かび上がる。その後、ユーザビリティへの直接影響が最も高そうかつフィードバックが多かったものをP0（最優先）として、順に優先順位を決定。</Text>
            <Image class="image" src={feedbackImg} alt="Feedback" />
            <Image class="image" src={priorityImg} alt="Feedback" />
        </Section>

        <Section title="初期プロトタイプをブラッシュアップ", subTitle="ユーザビリティテストの結果と考察を形にする">
            <Text mode="body">ユーザビリティテストで浮かび上がったさらなる改善案をもとに、ユーザビリティテストで使用したプロトタイプをブラッシュアップ。</Text>
            <Text mode="body">※以下は最終改善案の一例</Text>
            <Image class="image" src={themeImg} alt="Theme" />
        </Section>
        <Section title="最終成果物", subTitle="改善案をブラッシュアップ">
            <Text mode="body">最終的にデザインはこのようになった。</Text>
            <Image class="image" src={beforeAfterImg} alt="Theme" />
        </Section>

        <Section title="直帰率・イベント数の変化を見る", subTitle="効果測定">
            <Text mode="body">新しいホームページを公開してから2か月が経過。リニューアル後のホームページで観察されたパフォーマンスの変化を計測。Google Analytics（GA4）でデータを集計。</Text>
            <Text mode="body">確かめたいこと：サービストップページのユーザビリティが向上しているかどうか
</Text>
            <Text mode="body">指標（確認するGA4のメトリクス）は？：</Text>
            <ul class="list">
                <li>
                    <Text mode="body">直帰率（GA4）</Text>
                    <Text mode="body">ページで何のアクションも起こさずに離脱する人の数は減少したか？</Text>
                </li>
                <li>
                    <Text mode="body">ユーザーごとのイベント数（GA4）</Text>
                    <Text mode="body">ページ上で発生するアクションの数は増加したか？</Text>
                </li>
            </ul>
        </Section>
       <Section title="イベント数+400%", subTitle="プロジェクトの成果1">
            <Text mode="body">サービストップページに置けるユーザー1人あたりのイベント数+400%達成。サイト内の回遊率UPを上げることができた。</Text>
        </Section>

        <Section title="バウンスレート　-3.48%", subTitle="プロジェクトの成果2">
            <Text mode="body">案内板の役割を持つページでは、リニューアル後にバウンスレートが低下し、回遊率の向上が確認された。このバウンスレートの減少は、ユーザーが迷ってサイトを離脱するケースが減少していることを示している。</Text>
            
            <Image class="image" src={dataImg} alt="Data" />
        </Section>

        <Section title="バウンスレート -3.48% 統計的に有意か？ →有意", subTitle="結果として得られた数値の解釈">
            <Text mode="body">3.48%は誤差の範囲である可能性があるため、この数値が統計的に有意か、偶然によるものかを評価するために、帰無仮説を棄却できるか確認。過去1年間の直帰率の分布を分析した結果、5月における75％の直帰率が発生する確率は5％未満（p &lt; 0.05）であることが分かった。これは、結果が偶然によるものではない可能性が高いことを示し、実施した施策が実際に効果を上げたことを示唆している。</Text>
            <Image class="image" src={statisticsImg} alt="P Value Statistics" />
        </Section>
    </div>
    </div>
  </main>
</Layout>
